html, body{
  height:100%;
  overflow:auto;
}
.noscroll::-webkit-scrollbar{
  width:0px;
}
.canva{
  height:250px;
  width:800px;
  padding:10px;
  background-color: white;
}
.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }
